*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    cursor: pointer;
}
        /* Header style */
        html, body {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            line-height: 1.7em;
            }
            .nav1 {
                background: radial-gradient(rgba(4,9,30,0.7),rgba(1, 1, 24, 0.7)) #131010;
                padding: 5px 20px;
                display: flex;
                align-items: center;
            }
        
            .nav1 a {
                color: #fff;
            }
        
            #home {
                color: gold;
            }
        
            .nav1 a:hover {
                color: #fff;
            }
            .logo1 {
            flex: 1;
        }
        
            .logo1 a {
                display: flex;
                align-items: center;
                font-size: 30px;
                text-decoration: none;
            }
        
            .logo1 a .luxe {
                color: gold;
            }
        
            .logo1 a:hover {
                color: #fff;
            }
        
            .logo1 img {
                width: 70px;
                margin-right: 10px;
            }
        
            .menu {
                display: flex;
                align-items: center;
                list-style: none;
            }
        
            .menu a:hover {
                transform: scale(1.1);
            }
        
            .menu li {
                padding: 15px 10px;
                font-size: 20px;
            }
        
            .menu li a {
                text-decoration: none;
                position: relative;
            }
        
            .menu li a:before {
                content: '';
                width: 0px;
                height: 3px;
                background: gold;
                position: absolute;
                top: 100%;
                left: 0;
                transition: 0.5s;
            }
        
            .menu li:hover a:before {
                width: 70%;
            }
        
            .toggle {
                font-size: 30px;
                display: none;
            }
        
            @media screen and (max-width: 800px) {
                .nav1 {
                    display: block;
                    position: relative;
                    padding: 15px 20px;
                }
                .menu {
                    margin-top: 15px;
                    display: none;
                } 
                .menu.active, .toggle {
                    display: block;
                }
                .toggle {
                    position: absolute;
                    top: 40px;
                    right: 20px;
                }
                
            }
        
            /* Showcase */
        #showcase {
            background: radial-gradient(rgba(0,0,0,0.75),rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url('Images/carousel-1.jpg') no-repeat center center/cover;
            height: 240px;
        }
        
        #showcase .container .showcase-content {
            color: #fff;
            text-align: center;
            padding-top: 20px;
        }
        
        #showcase .showcase-content h1 {
            font-size: 90px;
            line-height: 1.2em;
        }
        
        #showcase .showcase-content h1 span{
            color: gold;
        }

        #showcase .showcase-content p {
            padding-bottom: 20px;
            line-height: 1.7em;
        }
        
        .container {
            margin: auto;
            max-width: 1100px;
            overflow: auto;
            padding: 0 20px;
        }
        
        .text-primary {
            color: gold;
        }
        
        .lead {
            font-size: 20px;
        }
        
        .bgn {
            display: inline-block;
            font-size: 18px;
            color: #fff;
            background: transparent;
            padding: 13px 20px;
            border: double;
            cursor: pointer;
            border-radius: 5%;
            transition: 0.8s;
        }
        
        .bgn:hover {
            background: gold;
            color: #000;
            transition: 0.8s;
        }
        
        .bgn-light {
            background: #f4f4f4;
            color: black;
            border-radius: 5%;
        }
        /* Header style end */
        
            .content .content-main .room-header{
            text-align: center;
            padding: 50px;
            }
        
            .content .content-main hr{
                color: gold;
            }

            .content .content-main .content-main-txt{
                margin-top: 50px;
                margin-bottom: 50px;
            }
        
            .content .content-main .content-main-txt h3{
            text-align: center;
            font-size: 30px;
            color: gold;
            }

            .content .content-main .content-main-txt p{
                text-align: center;
                font-size: 40px;
                font-weight: 600;
                margin-top: 20px;
            }
        
            .content .content-main .content-main-txt p span{
                color: gold;
                }

            .content .content-main .content-main1 .content-main1i{
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                margin-bottom: 50px;
            }
        
            .content .content-main .content-main1 .content-main1i .content-main1i-row{
                box-shadow: 0 4px 8px 0 rgba(190, 188, 188, 0.2), 0 6px 20px 0 rgba(190, 188, 188, 0.2);
                margin-top: 40px;
                background-color: white;
            }
        
            .content .content-main .content-main1 .content-main1i .content-main1i-row .info{
                padding-left: 20px;
                padding-bottom: 20px;
            }
        
            .content .content-main .content-main1 .content-main1i .content-main1i-row .info h4{
                font-size: 1.5rem;
            }
        
            .content .content-main .content-main1 .content-main1i .content-main1i-row .info h3 span{
                color: gold;
                font-size: 1.5rem;
            }
        
            .content .content-main .content-main1 .content-main1i .content-main1i-row .image img{
            width: 350px;
            height: 250px;
            }
            .content .content-main .content-main1 .content-main1i .content-main1i-row .info .btn{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        
            .content .content-main .content-main1 .content-main1i .content-main1i-row .info .btn a{
                text-decoration: none;
            }
        
            .content .content-main .content-main1 .content-main1i .content-main1i-row .info .btn a button{
            width: 130px;
            height: 45px;
            border-radius: 0px;
            font-size: 1.2rem;
            font-weight: 500;
            margin-top: 10px;
            margin-left: 0px;
            }    
        
            .content .content-main .content-main1 .content-main1i .content-main1i-row .info .btn a #btn1{
                background-color: gold;
                color: white;
                border: 1px solid transparent;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                transition: 0.5s ease;
            }
        
            .content .content-main .content-main1 .content-main1i .content-main1i-row .info .btn a #btn1:hover{
                transform: scale(1.1);
            }
        
            .content .content-main .content-main1 .content-main1i .content-main1i-row .info .btn a #btn2{
                background-color: black;
                color: white;
                border: 1px solid transparent;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                transition: 0.5s ease;
                margin-right: 15px;
            }
        
            .content .content-main .content-main1 .content-main1i .content-main1i-row .info .btn a #btn2:hover{
                transform: scale(1.1);
            }
/* News letter start */
.news-letter{
    width: 70%;
    border:1px solid rgb(202, 195, 195);
    text-align: center;
    position: relative;
    top: 80px;
    margin: auto;
}
.news-letter .news-letter1{
    border:1px solid rgb(202, 195, 195);
    margin: 5px;
}
.news-letter .news-letter1 .news-letter2{
    border:2px solid white;
    background-color: white;
    margin: 5px;
}
.news-letter .news-letter1 .news-letter2 .news-letter3{
    border:2px solid transparent;
    background-color: white;
    margin: 50px;
}
.news-letter .news-letter1 .news-letter2 .news-letter3 h2{
    font-size: 35px;
}
.news-letter .news-letter1 .news-letter2 .news-letter3 h2 span{
    color: gold;
}

.news-letter .news-letter1 .news-letter2 .news-letter3 .input-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.news-letter .news-letter1 .news-letter2 .news-letter3 .input-btn input{
    width: 80%;
    height: 70px;
    outline: none;
    font-size: 17px;
    color: gray;
}
.news-letter .news-letter1 .news-letter2 .news-letter3 .input-btn  .btn{
    position: relative;
    margin-left: -120px;
    width: 110px;
    height: 50px;
    background-color: gold;
    border: 1px solid transparent;
    color: white;
}

/* News letter end */

/* footer start */
/* Footer Style */
footer{
    padding: 50px 10px 0px 10px;
    font-family: sans-serif;
    cursor: pointer;
    background-color: black;
}
footer .footer-main{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    background-color: black;
    padding-top: 100px;
}
footer .footer-main  .footer-col{
    width: 320px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 30px;
}
footer .footer-main  .footer-col img{
    width: 150px;
    border: 1px solid gold;
    transition: 0.5s ease;
}
footer .footer-main  .footer-col img:hover{
    box-shadow: 0 2px 15px 0 gold, 0 2px 15px 0 gold;
    transform: scale(1.1);
}
footer .footer-main  .footer-col h2{
    margin-bottom: 20px;
}
footer .footer-main  .footer-col h2 span{
    color: gold;
}

footer .footer-main .footer-col ul li{
    list-style: none;
    margin-bottom: 20px;
    margin-left: 10px;
    transition: 0.5s ease;
    font-weight: 600;
    text-align: start;
    width: 150px;
}

footer .footer-main .footer-col .lst1{
    width: 50%;
    margin: auto;
    padding-left: 20px;
}
footer .footer-main .footer-col .lst2{
    width: 50%;
    margin: auto;
    padding-left: 20px;
}
footer .footer-main .footer-col ul li a{
    text-decoration: none;
    color: white;
}

footer .footer-main .longer-width{
    width: 350px;
    text-align: start;
    padding-left: 20px;
}

footer .footer-main .footer-col .contact-info1 .contact-info1i{
    margin-bottom: 10px;
}
footer .footer-main .footer-col .contact-info1 .contact-info1i i{
    margin-right: 10px;
}
footer .footer-main .footer-col .contact-info2 .social-icons{
    margin-top: 20px;
    font-size: 30px;
}
footer .footer-main .footer-col .contact-info2 .social-icons a{
    position: relative;
    color: white;
    width:50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    align-items: center;
    transition: 0.5s;
}
footer .footer-main .footer-col .contact-info2 .social-icons a:hover{
    color: gold;
    background-color: white;
    transform: scale(1.1);
}

footer .footer-main .footer-col .contact-info2 .social-icons a .x{
    position: absolute;
    top: 10px;
    left: 10px;
}
footer .footer-main .footer-col .contact-info2 .social-icons a .insta{
    position: absolute;
    top: 10px;
    left: 10px;
}
footer .footer-main .footer-col .contact-info2 .social-icons a .fb{
    position: absolute;
    top: 10px;
    left: 13px;
}
footer .footer-main .footer-col .contact-info2 .social-icons a .ggle{
    position: absolute;
    top: 10px;
    left: 10px;
}
footer .footer-main .footer-col .contact-info2 .social-icons a .ttok{
    position: absolute;
    top: 10px;
    left: 10px;
}

footer .copyright p{
    text-align: center;
    font-size: 17px;
    color: white;
    margin: auto;
    padding-bottom: 20px;
}
    
    

    
    /* back to top */
    html {
        scroll-behavior: smooth;
    }
    .back-to-top {
        position: fixed;
        bottom: 30px;
        right: 18px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #000000;
        border-radius: 5px;
        text-decoration: none;
        transition: 0.2 ease-out;
    }
    
    .back-to-top span {
        color: #fff;
        font-size: 4px;
        transition: 0.2s ease-out;
    }
    
    .back-to-top:hover {
        background-color: gold;
    }
    
    .back-to-top:hover span {
        transform: translateY(-4px)
    }
    /* Footer style End */
    /* footer end */ 